*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before, *::after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*---------*/

body {
	height: 100%;
	line-height: 1;
	font-size: 1rem;
}
.wrapper {
background: #E5E5E5;
}
.container {
	max-width: 75rem; /*1170px + 30 px поделить на 16 px*/
	margin: 0px auto;
	padding: 15px;
}
#dws-menu, 
header label{
	display: none;
}
@font-face {
	font-family: "Gotham Pro";
	src: url("fonts/gothampro.ttf") format("truetype");
	font-style: normal; 
	font-weight: normal;
	 }
@font-face {
	font-family: "Bebas Neue Cyrillic";  
	src: url("fonts/bebasneuecyrillic.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
	 }
.header_logo {
	/* padding: 0.99rem; */
	display: flex;
}

.we li {
	display: inline-block;
}
.we {
	padding-top: 2.1rem;
	justify-content: space-between;
	font-size: 1rem;
}
.header_body {
	display: flex;
}
.header_body {
	display: flex;
	justify-content: space-between;
}
.btn_call{
	padding: 0.99rem;
	background: rgba(203, 77, 100, 0.15);
   border: 2px solid #CB4D64;
   border-radius: 16px;
	font-family: "Gotham Pro";
	font-size: 1rem;
	color: #CB4D64;

}
.we a {
	margin: 1.56rem;
	color: #321E1F;
	font-family: "Gotham Pro";
}
.header_body {
	margin-top: 2.5rem;
}

.header_logo_forest {
	display: flex;
   flex-direction: column;
   height: 100%;
	font-size: 1.57rem;
	line-height: 1.51rem;
	margin-top: 2rem;
	font-family: "Bebas Neue Cyrillic";  
}
.forest_two {
	color: #CB4D64;;
}
.call {
	margin-top: 1.1rem;
}
.btn_app {
	padding: 0.99rem;
   border: 2px solid #CB4D64;
   border-radius: 16px;
	font-family: "Gotham Pro";
	background: #CB4D64;
   border-radius: 1rem;
	color: #fff;
	font-size: 1.15rem;
}

.banner_row {
	display: flex;
	justify-content: space-between;
	/* flex-direction: row-reverse; */
}
.type {
	font-family: "Bebas Neue Cyrillic";  
	font-size: 3.75rem;
	color: #331E28;
	line-height: 4.53rem;
	/* position: absolute; */
}
.banner_body_left {
	/* position: absolute;
		left: 10.8%;
		right: 3.12%;
		top: 6.31%;
		bottom: 4.94%; */
	margin-right: -300px; 
}
.banner {
margin-top: 131px;
margin-bottom: 119.64px;
}
.banner_body_one { 
padding-top: 40px;
}
.type_color {
color: #CB4D64;;
}
.banner_body_two { 

margin: 1.9rem 3.4rem 4rem 0rem;
font-size: 1.13rem;
line-height: 1.7rem;
font-family: "Gotham Pro";

}
span { color: #CB4D64;}
.text {
	font-size: 1.125rem;
	font-family: "Gotham Pro";
	color: #321E1F;
	margin-top: 1.8rem;
	line-height: 150%;
}


.about_flex {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-between; */
}
.about_right{
	width: 30%;
	margin-left: -100px;
}
.about_left {
	margin-right: 265px;
}

.about_right img {
	margin-top: -100px;
	margin-bottom: -100px;
}
.about_three {
	width: 50%;
	margin-top: -250px;
}




.item_flex {
	margin-bottom: 8.4rem;
}
.item_items {
	/* max-width: 16.9rem;
	max-height: 16.9rem; */
	display: inline-block;/*чтобы в ряд шли блоки */
	width: 23%;
   border-radius: 1.88rem;
	background-color: #FFFFFF;
	color: #CB4D64;
	margin: 15px 15px 0 0;
}
/* .item_items:last-child {
	margin-left: 0;
} */
.item_items:hover {
	background-color: #CB4D64;
	color: #FFFFFF;
}
.item_items_numb {
	font-family: "Bebas Neue Cyrillic";  
	font-size: 4.2rem;
	line-height: 4.5rem;
	/* color: #CB4D64; */
	margin: 2.7rem 10rem 2.5rem 2.81rem;
}
.item_items_text {
	font-family: "Gotham Pro";
	font-size: 1.12rem;
	line-height: 1.68;
	margin: 1.56rem;
}
.item_items_text>p {
	color: #000;
}
.service {
	background-color:  #331E28;
	background-image: url(img/back.svg);
background-repeat: no-repeat;
background-position: 100% 0;
}
.service_header {
	margin: 7.3rem 0 1.87rem;
}
.what {
	font-family: "Bebas Neue Cyrillic";  
	color: #FFFFFF;
	font-size: 4.12rem;
	line-height: 110%;
}
.service_flex {
	/* display: flex;
	flex-wrap: wrap; */
	/* gap: 10px; */
	/* margin-bottom: 7.3rem; */
	margin-bottom: 128px;
}
.service_items {
	max-height: 20.18rem;
	max-width: 16.87rem;
	background: #3E2832;
	border-radius: 30px;
	display: inline-block;/**/
	width: 23%;
	margin: 10px 15px 10px 0;
/* margin-left: 1.87rem; */
}
.service_items_icon {
	margin: 2.1rem 10rem 3.4rem 1.8rem;
}
.service_items_text{
	font-family: "Gotham Pro";
	font-size: 1rem;
	line-height: 1.5rem;
	color: #FFFFFF;
	margin: 0 1.9rem 1.4rem 1.9rem;
}
.demand {
	color: #CB4D64;
	font-size: 1rem;
	line-height: 1.5rem;
	font-size: 1rem;
	line-height: 1.5rem;
	/* border-bottom: #CB4D64 0.5px solid; */
	margin: 0 1.9rem 2.1rem 1.9rem;
}
.example_img {
	display: inline-block;
	width: 33%;
	margin-bottom: 1.5rem;
	/* margin: 0 0.8rem 0.8rem 0; */
}
.example_header {
	font-family: "Bebas Neue Cyrillic";  
	font-size: 4.12rem;
	line-height: 4.5rem;
	margin: 9.3rem 0 3.5rem;
}
/* .example_flex {
	display: flex;
	flex-wrap: wrap;
	gap: 1.8rem;
} */
.example_btn {
	margin-top: 3.75rem;
	text-align: center;
}
.reviews_header{

}
.reviews {
	height: 500px;
}
.reviews_footer {
	font-family: "Bebas Neue Cyrillic";  
	font-size: 11.66rem;
	color: #FFFFFF;
	line-height: 12.82rem;
	margin-top: 15rem;
	text-align: center;
}
@media screen {
	
}