*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before, *::after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*---------*/

body {
	height: 100%;
	line-height: 1;
	font-size: 1rem;
	font-family: "Gotham Pro";
}
.wrapper {
background: #E5E5E5;
}
.container {
	max-width: 75rem; /*1170px + 30 px поделить на 16 px*/
	margin: 0px auto;
	padding: 15px;
}
/* #dws-menu, 
header label{
	display: none;
} */
@font-face {
	font-family: "Gotham Pro";
	src: url("fonts/gothampro.ttf") format("truetype");
	font-style: normal; 
	font-weight: normal;
	 }
@font-face {
	font-family: "Bebas Neue Cyrillic";  
	src: url("fonts/bebasneuecyrillic.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
	 }
.header_logo {
	display: flex;
}
.menuToggle {
	display: none;
}

.we li {
	display: inline-block;
}
.we {
	justify-content: space-between;
	font-size: 1rem;
}
.header_body {
	display: flex;
}
.header_body {
	display: flex;
	justify-content: space-between;
}
.btn_call{
	padding: 0.99rem;
	background: rgba(203, 77, 100, 0.15);
   border: 2px solid #CB4D64;
   border-radius: 16px;
	font-size: 1rem;
	color: #CB4D64;
	display: block;

}
.pop_up {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: transparent;
	z-index: 2;
	transform: translateY(-44.5%) scale(0);
	transition: .3s ease-in-out;
}
.pop_up.active {
	display: block;
	transform: translateY(0%) scale(100%);
	background: rgba(0, 0, 0, .6);

}
.pop_up_container{
	display: flex;
	width: 100%;
	height: 100%;
}
.pop_up_body {
	margin: auto;
	width: 500px;
	background: #fff;
	border-radius: 10px;
	text-align: center;
	padding: 100px 15px 110px 15px;
	position: relative;
}
.pop_up_body p {
	font-family: "Bebas Neue Cyrillic";  
	font-size: 28px;
	font-weight: 400;
	color: #331E28;
	margin-bottom: 40px;
}
.pop_up_body input{
	display: block;
	margin: 25px auto 8px auto;
	width: 330px;
	padding: 17px 20px;
	background: #E5E5E5;
	border-radius: 10px;
	border: none;
	font-family: "Gotham Pro";
	font-weight: 500;
	font-size: 18px;

}
.pop_up_body button {
	cursor: pointer;
	display: block;
	width: 330px;
	margin: 68px auto 8px auto;
	padding: 20px 8px;
	font-family: "Gotham Pro";
	font-weight: 500;
	font-size: 16px;
	background: rgba(203, 77, 100, 0.15);
   border: 2px solid #CB4D64;
   border-radius: 16px;
	color: #CB4D64;
}
.pop_up_close{
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 21px;
	cursor: pointer;
}
.we a {
	margin: 1.56rem;
	color: #321E1F;
}
.header_body {
	margin-top: 2.5rem;
	display: flex;
	align-items: center;
}

.header_logo_forest {
	display: flex;
   flex-direction: column;
   height: 100%;
	font-size: 1.57rem;
	line-height: 1.51rem;
	margin-top: 2rem;
	font-family: "Bebas Neue Cyrillic";  
}
.forest_two {
	color: #CB4D64;;
}


.btn_app {
	padding: 0.99rem;
   border: 2px solid #CB4D64;
   border-radius: 16px;
	background: #CB4D64;
   border-radius: 1rem;
	color: #fff;
	font-size: 1.15rem;
}

.banner_row {
	display: flex;
	justify-content: space-between;
}
.type {
	font-family: "Bebas Neue Cyrillic";  
	font-size: 3.75rem;
	color: #331E28;
	line-height: 4.53rem;
}
.banner_body_left {
	margin-right: -300px; 
}
.banner {
margin-top: 131px;
margin-bottom: 119.64px;
}
.banner_body_one { 
padding-top: 40px;
}
.type_color {
color: #CB4D64;;
}
.banner_body_two { 

margin: 1.9rem 3.4rem 4rem 0rem;
font-size: 1.13rem;
line-height: 1.7rem;
font-family: "Gotham Pro";

}
span { color: #CB4D64;}
.text {
	font-size: 1.125rem;
	color: #321E1F;
	margin-top: 1.8rem;
	line-height: 150%;
}
#more {
	display: none;
}
#button_more {
	text-decoration: underline;
	cursor: pointer;
	color: #CB4D64;
}
#button_more {background: #E5E5E5;}
.about_flex {
	display: flex;
	flex-wrap: wrap;
}
.about_right{
	width: 30%;
	margin-left: -100px;
}
.about_left {
	margin-right: 265px;
}

.about_right img {
	margin-top: -100px;
	margin-bottom: -100px;
}
.about_three {
	width: 50%;
	margin-top: -250px;
}

.item_flex {
	margin: 100px 0 100px 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 15px;
}
.item_items {
   border-radius: 1.88rem;
	background-color: #FFFFFF;
	color: #CB4D64;
	padding: 43.34px 25px 35.08px 45px;
}
.item_items_text {
	color: #000;
}
.item_items:hover {
	background-color: #CB4D64;
	color: #FFFFFF;
	transition: 0.7s;
}

.item_items:hover .item_items_text {
	color: #FFFFFF;
	transition: 0.7s;

}
.item_items_numb {
	font-family: "Bebas Neue Cyrillic";  
	font-size: 4.2rem;
	line-height: 4.5rem;
}
.item_items_text {
	font-size: 1.12rem;
	line-height: 1.68;
	margin-top: 1.56rem;
	color: #000;

}

.service {
	background-color:  #331E28;
	background-image: url(img/back.svg);
background-repeat: no-repeat;
background-position: 100% 0;
}
.service_header {
	margin: 7.3rem 0 1.87rem;
}
.what {
	font-family: "Bebas Neue Cyrillic";  
	color: #FFFFFF;
	font-size: 4.12rem;
	line-height: 110%;
}

.service_flex {
	margin-bottom: 128px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 15px;

}
.service_items {

	background: #3E2832;
	border-radius: 30px;
	padding: 35px 31px 34px 27px;
	display: flex;
	flex-direction: column;
}
.service_items_icon img {
	margin-bottom: 55px;
}
.service_items_icon {
	/* align-self: flex-start; */
}
.service_items_text{
	font-size: 1rem;
	line-height: 1.5rem;
	color: #FFFFFF;
	/* align-self: stretch; */
	flex: 1;
}
.demand {
	color: #CB4D64;
	font-size: 1rem;
	line-height: 1.5rem;
	text-decoration: underline;
	/* margin-top: 23px; */
	cursor: pointer;
	/* align-self: flex-end; */

}


.example_img {
	
}
.example_header {
	font-family: "Bebas Neue Cyrillic";  
	font-size: 4.12rem;
	line-height: 4.5rem;
	margin: 9.3rem 0 3.5rem;
}
.example_flex { 
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 15px;

}
.example_btn {
	margin-top: 3.75rem;
	text-align: center;
}


.reviews_header{

}
.reviews {
	height: 500px;
}
.reviews_footer {
	font-family: "Bebas Neue Cyrillic";  
	font-size: 11.66rem;
	color: #FFFFFF;
	line-height: 12.82rem;
	margin-top: 15rem;
	text-align: center;
}

.map {
	height: 650px;
}
footer {
	background: #331E28;
}

.footer_flex {
	width: 25%;
}

.first {
	color: #fff;
	font-family: "Gotham Pro";
	font-size: 14px;
	line-height: 40px;
}
.first a {
	color: #fff;
}
.footer_flex_conteiner {
	display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 108px;
}
.footer_flex {
	margin-bottom: 84px;
}
.second button{
font-size: 14px;
}
.footer_flex_third {
	font-size: 14px;
	line-height: 150%;
	color: #6C5560;;
}
.third {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}
.four {
	font-size: 14px;
	line-height: 150%;
	color: #6C5560;;
}
.four a{
	color: #CB4D64;;
}
.up {
	margin-bottom: 37px;
}
.five p:first-child {
color: #fff;
}
.six p{
	color: #6C5560;
}
.six a {
	color: #CB4D64;
	text-decoration: underline;
}
.seven li{
	display: inline-block;
	margin-right: 15px;
}

.header_burger {
	display: none;
}

@media (max-width: 1160px) {
.banner_body_left img {
width: 515.18px;
height: 359.57px;
}
.banner_body_left {
	margin-right: -150px; 
}
}

@media (max-width: 1100px) {
	.type {font-size: 48px; } 
.banner_body_left { 
	margin-right: -50px;
}
.banner_body_two{ margin: 40px 0;}
.about_right img {
	width: 342.47px;
	height: 455.44px;
}
.banner {
	margin-top: 110px;
	margin-bottom: 120px;
	}
.about_flex {
	display: flex;
	flex-wrap: wrap;
}
.about_right{
	width: 30%;
	margin-left: -100px;
	margin-top: 100px;
}
.about_left {
	margin-right: 265px;
}

.about_right img {
	margin-top: -100px;
	margin-bottom: -100px;
}
.about_three {
	width: 50%;
	margin-top: -220px;
}
.item_items {
	padding: 41.34px 23px 32.08px 43px;
}
.item_flex {
	gap: 12px;
}
.service_items_text{
	font-size: 1rem;
	line-height: 1.5rem;
	color: #FFFFFF;
	margin-top: 30px;
}
.service_items_icon img { width: 70px; height: 70px;}
.service_items {
padding: 32px 27px 32px 30px;
}
.example_flex img {
	width: 293.04px;
	height: 237.6px;
}
.first a {
	font-size: 12px;
}
.footer_flex_conteiner {
	margin-top: 90px;
}
}

@media (max-width: 992px) {
.service_items {
	padding: 32px 20px 32px 25px;
	}
}

@media (max-width: 992px) {
	.service_items { padding: 32px 15px 32px 15px;}
	}

@media (max-width: 930px){
	.example_flex img {
		width: 263.7px;
		height: 213.84px;
	}
	.service_items_icon img {
		margin-bottom: 0px;
	}
}

@media (max-width: 900px){
.about_right img {
	width: 307.8px;
	height: 410px;
}
.service_items_icon img {
margin-bottom: 35px;
}
.item_items {
   border-radius: 1.88rem;
	background-color: #FFFFFF;
	color: #CB4D64;
	padding: 28px 15.4px 22.46px 30px;
}
.item_items_numb {font-size: 50px;}
.service_items img{
margin-bottom: 10px;
}
.demand {
	padding-bottom: 15px;
	margin-top: 15px;
}
.service_items{
padding: 22.5px 12.7px 23.8px 12.9px;
}
}

@media (max-width: 893px){
.header_logo img {
	width: 69.27px;
	height: 77.76px;
}
.header_logo_forest{font-size: 20px;}
.we a {
	font-size: 13px;
	margin: 1.2rem;
}
.btn {font-size: 13px;}
.banner {
	margin-top: 90px;
	margin-bottom: 90px;
	}
.type {font-size: 40px; line-height: 50px;}
.banner_body_left img{ width: 441.59px; height: 308.2px;}
.banner_body_two {margin: 30px 0;}
.service_items img { margin-bottom: 5px;}
.service_items_text { margin-top: 30px;}
.what {font-size: 40px;}
.service_header {margin: 50px 0 40px 0;}
.footer_flex_conteiner {margin-top: 90px;}
}

@media (max-width: 868px) {
.service_items{
	padding: 22.5px 10px 23.8px 10px;
	}
}



@media (max-width: 850px) {
.example_flex img {
	width: 227.52px;
	height: 184.8px;
}
.service_items p{
	font-size: 13px;
	
}
.seven img {width: 33.3px; height: 19.8px;}
.seven li{
	margin-right: 7px;
}
.service_items img {
	width: 60px;
	height: 60px;
}
.example_header {
	margin-top: 40px;
}
}

@media (max-width: 800px) {
.type {
	font-size: 36px;
}
.what {
	font-size: 36px;
}
.banner_body_left img { width: 367.99px; height: 256.83px;}
.item_items {
	padding: 11px 6px 8.9px 10px;
}
}

@media (max-width: 796px) {
.we a {
	font-size: 13px;
	margin: 0.8rem;
}
.service_items{
	padding: 22.5px 8px 23.8px 5px;
	}
.banner {
	margin-top: 70px;
	margin-bottom: 70px;
	}
.item_items_numb {font-size: 45px;}
.item_flex {
	margin: 80px 0 80px 0;
}
}


/*мобилка*/
@media (max-width:768px) { 
.service_flex {
	margin-bottom: 100px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
}
.service_items{
	padding: 22.5px 35px 23.8px 15px;
	}
/*burger*/
.we {
	display: block;
}
.header_list li{
	display: block;	
}
.header_list, .call {
	display: none;
}
.menuToggle {
	display: block;
}
.icon {
	width: 25px;
	height: 25px;
	cursor: pointer;
}
.hamburger {
	width: 20px;
	height: 3px;
	transform: translate(-50%, -50%);
	background: #CB4D64;
	transition: 0.5s;
	display: inline-block;

}
.hamburger:before,
.hamburger:after{
content: "";
width: 40px;
height: 3px;
position: absolute;
background: #CB4D64;
transition: 0.5s;
}
.hamburger:before {
	top: -14px;
}
.hamburger:after {
	top: 14px;
}
.icon.active .hamburger {
	background: rgba(0, 0, 0, 0);
}
.icon.active .hamburger:after {
	top: 0;
	transform: rotate(135deg);
}
.icon.active .hamburger:before {
	top: 0;
	transform: rotate(45deg);
}
.header_row.activ {
	background: #331E28;
	height: 100%;
	height: 600px;
}
.icon.active .header_list a{
	color: #fff;
} 

.header_body{
	display: flex;
	/* justify-content: stretch; */
	flex-wrap: wrap;
	
}
.header_logo{
	width: 90%;
}
.menuToggle{
	width: 10%;
}
.we {
	width: 100%;
	margin: 80px auto;
	display: flex;
	justify-content: center;
}
.header_list {
	
}
.call{
	width: 100%;
	margin: auto;
}

.header_list li {
	margin: 20px;
}
.btn_call {
	margin: auto;
	width: 288px;
	text-align: center;
	display: block;
}
}



@media (max-width: 750px) {
	.type {
		font-size: 30px;
	}
	.banner {
	margin-top: 50px;
	margin-bottom: 50px;
	}
	.service_items img {
		width: 50px;
		height: 50px;
	}
	.service_items{
		padding: 22.5px 35px 17px 15px;
		}
	.example_header {
		margin-top: 30px;
	}

	/**/
	.footer_flex {
		width: 50%;
	}
	.footer_flex {
		margin-bottom: 47px;
	}
	.footer_flex_conteiner > .first {order: 1;}
	.footer_flex_conteiner > .second {order: 5;}
	.footer_flex_conteiner > .third {order: 2;}
	.footer_flex_conteiner > .four {order: 3;}
	.footer_flex_conteiner > .five {order: 6;}
	.footer_flex_conteiner > .six {order: 7;}
	.footer_flex_conteiner > .seven {order: 4;}
	
	
	.footer_flex_conteiner {
		font-size: 10px;
		line-height: 15px;
		margin-top: 47px;
	}
	.first a {
		font-size: 12px;
		line-height: 30px;
	}
	.four {
		width: 71%;
		display: flex;
		justify-content: space-between;
	} 
	.third {
		display: flex;
		flex-direction: column;
	}
	.footer_flex_third {
		margin-top: 10px;
	}
	.up {
	margin-right: 25px;
	}
	.seven {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.seven li {
		padding-left:10px;
	}
	.seven img { width: 24.9px; height: 22.03px;}
	
	.second {
	width: 100%;
	text-align: center;
	}
	.second button{
		width: 50%;
		font-size: 12px;
		}
	.five {width: 100%;}
	.five img {
		width: 46.18px;
		height: 51.8px;
	}
	.five p {
	font-size: 15.23px;
	line-height: 14.47px;
	}
	.six {
		font-size: 10px;
		line-height: 15px;
		font-weight: 400;
	}
}

@media (max-width: 700px) {
.about_right img {
	width: 277.02px;
	height: 369px;
}


.about_right{
	margin-left: -150px;
	margin-top: 100px;
}

.about_right img {
	margin-top: -100px;
	margin-bottom: -100px;
}
.about_three {
	width: 50%;
	margin-top: -170px;
}
.example_flex img {
	width: 204.768px;
	height: 166.32px;
}
.four {
	width: 71%;
	display: flex;
	justify-content: space-between;
} 
.we a {
	font-size: 13px;
	margin: 0.5rem;
}
}

@media (max-width: 691px) {
	.service_items{
		padding: 22.5px 5px 17px 10px;
		}
}


@media (max-width:665px) {
.example_flex { 
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
}
.about_right img {
	width: 249.02px;
	height: 332.1px;
}
.about_right{
	margin-left: -200px;
	margin-top: 100px;
}
}

@media (max-width:550px) {
.item_flex {
	margin: 100px 0 100px 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
}
.item_items {
	padding: 30px 18px 20px 30px;
}
.service_flex {
	margin-bottom: 128px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
}
.service_items{
	padding: 22.5px 5px 10px 15px;
	}
.about_right img {
	width: 224.18px;
	height: 298.89px;
}
.about_right{
	margin-left: -200px;
	margin-top: 150px;
}
.type {
	font-size: 28px;
	line-height: 30.8px;
}
.text {
	font-size: 12px;
	line-height: 18px;
}
.banner_body_two {
	font-size: 12px;
	line-height: 18px;
}
.item_items_text { font-size: 13px; line-height: 18px;}
.service_items_text { font-size: 13px; line-height: 18px; }
.four {
	width: 78%;
	display: flex;
	justify-content: space-between;
} 
}
/*6/7/8*/
@media (max-width:500px) {
header label:hover {
cursor: pointer;
}
header label {
	display: block;
	width: 30px;
	height: 30px;
	float: right;
}
.banner {
	margin-top: 5px;
	margin-bottom: 19.64px;
	}
	
.banner_body_one { 
	padding-top: 10px;
	width: 100%;
	margin-top: 30px;
	}
.banner_row {
	display: flex;
	flex-direction: column-reverse;
}

.banner_body_left img {
width: 338.29px;
height: 236.11px;
}

.banner_body_two { 
	margin: 1.9rem 3.4rem 4rem 0rem;
	font-size: 1.13rem;
	line-height: 1.7rem;
	font-family: "Gotham Pro";
}

.banner_body_two { 
	margin: 1.25rem 0 1.87rem 0;
	font-size: 0.75rem;
	line-height: 1.12rem;
	font-family: "Gotham Pro";
}

.btn_app {
	padding: 0.99rem;
	border: 2px solid #CB4D64;
	border-radius: 16px;
	font-family: "Gotham Pro";
	background: #CB4D64;
	border-radius: 1rem;
	color: #fff;
	font-size: 0.75rem;
	line-height: 0.82rem;
}


.about_flex{
	margin-top: 112px;
	display: flex;
	flex-direction: column;
}

.about_right img {
	width: 281.98px;
	height: 374.99;
}
.about_right img {
	margin-top: -150px;
	margin-left: 200px;
}
.about_three {
	width: 100%;
	margin-top: 100px;
}
.text {
	font-size: 0.75rem;
	line-height: 150%;
}
.text span {
	font-weight: 700;
	text-decoration: underline;
}
.about_left{
	width: 100%;
}

/*услуги*/
.item_flex {
	margin-bottom: 55px;
}
.item_items {
	border-radius: 16px;
	background-color: #FFFFFF;
	color: #CB4D64;
	margin: 5px 5px;
	padding: 21px 18px 22px 16px;
}
.item_items_numb{
   font-size: 28px;
	line-height: 30.8px;
}
.what {
	font-size: 28px;
	line-height: 30px;
}
.service {
	background-color:  #331E28;
	background-image: url(img/back.svg);
   background-repeat: no-repeat;
   background-position: 100% 0;
}

.service_flex {
	margin-bottom: 100px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
}
.service_items {
	background: #3E2832;
	border-radius: 30px;
}
.service_items_icon img {
	width: 40px;
	height: 40px;
}
.service_items_text{
	font-family: "Gotham Pro";
	font-size: 10px;
	line-height: 15px;
	color: #FFFFFF;
}
.service_header {
	margin: 54px 0 0 0;
}
.demand {
	font-size: 12px;
	line-height: 15px;
	font-weight: 400;
}

.example_header {
	font-family: "Bebas Neue Cyrillic";  
	font-size: 28px;
	line-height: 30.8px;
	margin: 55px 67px 30px 0;
}
.example_btn {
	margin-top: 30px;
	text-align: center;
}
.example_btn button {
	font-size: 12px;
	line-height: 13.2px;
}

.reviews_footer {
	font-size: 70px;
	color: #FFFFFF;
	line-height: 77px;
	margin-top: 15rem;
	text-align: center;
	width: 200%;
	margin-left: -20px;
	margin-bottom: 0px;
}

.footer_flex {
	width: 50%;
}
.footer_flex {
	margin-bottom: 47px;
}
.footer_flex_conteiner > .first {order: 1;}
.footer_flex_conteiner > .second {order: 5;}
.footer_flex_conteiner > .third {order: 2;}
.footer_flex_conteiner > .four {order: 3;}
.footer_flex_conteiner > .five {order: 6;}
.footer_flex_conteiner > .six {order: 7;}
.footer_flex_conteiner > .seven {order: 4;}


.footer_flex_conteiner {
	font-size: 8px;
	line-height: 15px;
	margin-top: 47px;
}

.first a {
	font-size: 12px;
	line-height: 30px;
}
.four {
	width: 80%;
	display: flex;
	justify-content: space-between;
} 
s
.footer_flex_four {
	display: inline-block;
}


.seven {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.seven li {
	padding-left:10px;
}
.seven img { width: 18.36px; height: 18.36px;}

.second {
width: 100%;
}
.second button{
	width: 100%;
	font-size: 12px;
	}
.five {width: 100%;}
.five img {
	width: 46.18px;
	height: 51.8px;
}
.five p {
font-size: 15.23px;
line-height: 14.47px;
}
.six {
	font-size: 10px;
	line-height: 15px;
	font-weight: 400;
}
}

@media (max-width:449px) {
.example_flex img {
	width: 132px;
	height: 108px;
}
}