
header label:hover {
cursor: pointer;
}
header label {
	display: block;
	width: 30px;
	height: 30px;
	float: right;
}
.banner {
	margin-top: 5px;
	margin-bottom: 19.64px;
	}
	
.banner_body_one { 
	padding-top: 10px;
	width: 100%;
	margin-top: 30px;
	}
.type {
	font-size: 1.7rem;
	line-height: 1.8rem;
}
.banner_row {
	display: flex;
	flex-direction: column-reverse;
}

.banner_body_left img {
width: 338.29px;
height: 236.11px;
}
.banner_body_two { 
	margin: 1.9rem 3.4rem 4rem 0rem;
	font-size: 1.13rem;
	line-height: 1.7rem;
	font-family: "Gotham Pro";
}

.banner_body_two { 
	margin: 1.25rem 0 1.87rem 0;
	font-size: 0.75rem;
	line-height: 1.12rem;
	font-family: "Gotham Pro";
}

.btn_app {
	padding: 0.99rem;
   border: 2px solid #CB4D64;
   border-radius: 16px;
	font-family: "Gotham Pro";
	background: #CB4D64;
   border-radius: 1rem;
	color: #fff;
	font-size: 0.75rem;
	line-height: 0.82rem;
}


.about_flex{
	margin-top: 112px;
	display: flex;
	flex-direction: column;

}
.about_right img {
	width: 281.98px;
	height: 374.99;
}
.about_right img {
	margin-top: -120px;
	margin-bottom: -120px;
	margin-left: 100px;
}
.about_three {
	width: 100%;
	margin-top: -30px;
}
.text {
	font-size: 0.75rem;
	line-height: 150%;
}
.text span {
	font-weight: 700;
	text-decoration: underline;
}
.about_left{
	width: 100%;
}

/*услуги*/
.item_flex {
	margin-bottom: 55px;
}
.item_items {
	max-width: 132px;
	max-height: 132px;
	display: inline-block;/*чтобы в ряд шли блоки */
	width: 45%;
   border-radius: 16px;
	background-color: #FFFFFF;
	color: #CB4D64;
	margin: 5px 5px;
}
.item_items_numb { 
	font-size: 28px;
	line-height: 110%;
	/* color: #CB4D64; */
	margin: 21px;
}
.item_items_text {
	font-size: 10px;
	line-height: 150%;
	margin: 1.56rem;
}
.what {
	font-size: 28px;
	line-height: 30px;
}
.service {
	background-position: 0 50%;
	background-size: 400px 500px;
}
.service_items {
	height: 198px;
	width: 132px;
	background: #3E2832;
	border-radius: 30px;
	display: inline-block;/**/
	width: 45%;
	margin: 0;
/* margin-left: 1.87rem; */
}
.service_items_icon {
	margin: 14px;
}
.service_items_icon img {
	width: 40px;
	height: 40px;
}
.service_items_text{
	font-family: "Gotham Pro";
	font-size: 10px;
	line-height: 15px;
	color: #FFFFFF;
	margin: 12px;
}
.service_header {
	margin: 54px 0 0 0;
}
.demand {
	font-size: 12px;
	line-height: 15px;
	margin-left: 12px;
	font-weight: 400;
}




.service {
	background-color:  #331E28;
	background-image: url(img/back.svg);
background-repeat: no-repeat;
background-position: 100% 0;
}
.service_header {
	margin: 7.3rem 0 1.87rem;
}
.what {
	font-family: "Bebas Neue Cyrillic";  
	color: #FFFFFF;
	font-size: 4.12rem;
	line-height: 110%;
}
.service_flex {
	/* display: flex;
	flex-wrap: wrap; */
	/* gap: 10px; */
	/* margin-bottom: 7.3rem; */
	margin-bottom: 128px;
}
.service_items {
	max-height: 20.18rem;
	max-width: 16.87rem;
	background: #3E2832;
	border-radius: 30px;
	display: inline-block;/**/
	width: 23%;
	margin: 10px 15px 10px 0;
/* margin-left: 1.87rem; */
}
.service_items_icon {
	margin: 2.1rem 10rem 3.4rem 1.8rem;
}
.service_items_text{
	font-family: "Gotham Pro";
	font-size: 1rem;
	line-height: 1.5rem;
	color: #FFFFFF;
	margin: 0 1.9rem 1.4rem 1.9rem;
}
.demand {
	color: #CB4D64;
	font-size: 1rem;
	line-height: 1.5rem;
	font-size: 1rem;
	line-height: 1.5rem;
	/* border-bottom: #CB4D64 0.5px solid; */
	margin: 0 1.9rem 2.1rem 1.9rem;
}

.what {
	font-size: 28px;
	line-height: 30.8%;
}

.service {
	background-color:  #331E28;
	background-image: url(img/back.svg);
	background-repeat: no-repeat;
	background-position: 10% 0;
	background-size: 600px 600px;
}
.service_header {
	margin: 54px 0 30px 0;
}


.service_flex {
	/* display: flex;
	flex-wrap: wrap;
	gap: 10px; 
	margin-bottom: 7.3rem; */
	margin-bottom: 53px;
	display: flex;
	align-items: wrap;
	flex-wrap: wrap;
}
.service_items {
	max-height: 193px;
	max-width: 132px;
	border-radius: 16px;
	width: 50%;
	margin: 5px;
}
.service_items_icon {
	margin: 17px 0 5px 14px;
}
.service_items_icon img {
	width: 40px;
	height: 40px;
	margin-bottom: 26px;
}
.service_items_text{
	font-family: "Gotham Pro";
	font-size: 10px;
	line-height: 15px;
	color: #FFFFFF;
	height: 60px;
	margin: 0 12px 0 18px;
}
.demand {
	color: #CB4D64;
	font-size: 10px;
	line-height: 15px;
	margin: 10px 0 10px 18px;

}


.example_flex img {
	width: 132px;
	height: 108px;
}

.example_img {
	display: inline-block;
	width: 45%;
	margin: 5px;
}
.example_header {
	font-family: "Bebas Neue Cyrillic";  
	font-size: 28px;
	line-height: 30.8px;
	margin: 55px 67px 30px 0;
}
/* .example_flex {
	display: flex;
	flex-wrap: wrap;
	gap: 1.8rem;
} */
.example_btn {
	margin-top: 30px;
	text-align: center;
}
.example_btn button {
	font-size: 12px;
	line-height: 13.2px;
}

.reviews_footer {
	font-size: 70px;
	color: #FFFFFF;
	line-height: 77px;
	margin-top: 15rem;
	text-align: center;
	width: 200%;
	margin-left: -20px;
	margin-bottom: 0px;
}


.footer_flex {
	width: 50%;
}
.footer_flex {
	margin-bottom: 47px;
}
.footer_flex_conteiner > .first {order: 1;}
.footer_flex_conteiner > .second {order: 5;}
.footer_flex_conteiner > .third {order: 2;}
.footer_flex_conteiner > .four {order: 3;}
.footer_flex_conteiner > .five {order: 6;}
.footer_flex_conteiner > .six {order: 7;}
.footer_flex_conteiner > .seven {order: 4;}


.footer_flex_conteiner {
	font-size: 8px;
	line-height: 15px;
	margin-top: 47px;
}
.first a {
	font-size: 12px;
	line-height: 30px;
}
.four {
	width: 100%;
	/* display: flex; */
	/* justify-content: space-between;*/
} 
.footer_flex_four {
	display: inline-block;
}
.up {
margin-right: 25px;
}
.seven {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.seven li {
	padding-left:10px;
}
.seven img { width: 18.36px; height: 18.36px;}

.second {
width: 100%;
}
.second button{
	width: 100%;
	font-size: 12px;
	}
.five {width: 100%;}
.five img {
	width: 46.18px;
	height: 51.8px;
}
.five p {
font-size: 15.23px;
line-height: 14.47px;
}
.six {
	font-size: 10px;
	line-height: 15px;
	font-weight: 400;
}